{% extends "base.html" %} 
 
{% block title %} EDIT PET {% endblock %}

{% block content%} 

    <h1>{{pet.name}}</h1>
    <img src="{{pet.photo_url}}">
    <p>Age: {{pet.age}}</p>
    <p>Species: {{pet.species}}</p>


    <h1>Edit Pet</h1>  

    {% for msg in get_flashed_messages() %}
    <div>{{ msg }}</div>
    {% endfor %}

    <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form
        if field.widget.input_type != 'hidden' %}
   <p>
     {{ field.label }}
     {{ field }}

     {% for error in field.errors %}
       {{ error }}
    
     {% endfor %}
   </p>

 {% endfor %}
 <button type="submit"> Save! </button>
    </form>
  
{% endblock %}